<header class="navbar navbar-expand navbar-dark flex-column flex-md-row" style="background-color: #181b28;">
    <a class="navbar-brand text-primary" href="#">favorites</a>
    <input [(ngModel)]="searchString" (keyup)="whileTyping()" class="form-control mr-2 mb-2" type="text" placeholder="Search...">
    <button type="button" class="btn btn-primary mb-2">Login</button>
</header>
