<app-header></app-header>
<div class="container-fluid" style="background-color: #181b28;">
    <div class="row">
        <app-bookmarks *ngFor="let bookmarks of bookmarkGroups" [bookmarks]="bookmarks" class="col-sm-6 col-md-6 col-lg-4 col-xl-4" style="margin-top: 15px; margin-bottom: 15px"></app-bookmarks>
    </div>
</div>
<app-footer></app-footer>
