<div class="card border-secondary zoom" (click)="onBookmarkClick(bookmarks.url)">
    <img class="card-img-top" src="{{bookmarks.image}}">
    <!--<div class="card-img-overlay text-center">
        {{bookmarks.label}}
    </div>-->
</div>
